$primary: #ffcd67;
@import '~bootstrap/scss/bootstrap.scss';
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
    }
}
.form-control:focus {
    box-shadow: none;
}
.reset {
    all: unset
}